

/* Sección 2 */
/* Sección 2 *//* Sección 2 */
.section-2 {
    display: flex;
    width: 100%;
    height: auto;
}

.container2 {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-section2 {
    flex: 0 0 30%; /* Toma el 30% del ancho */
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 0;
}

.image-section2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-section2 {
    flex: 1; /* Toma el resto del ancho (70%) */
    background: linear-gradient(to bottom, #646577, #1a1922);
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
    padding-right: 10%;
    z-index: 2;
    text-align: left; 
    justify-content: center; /* Centra verticalmente el contenido */
}

.content-section2 h1,
.content-section2 p {
    color: white; 
}

.border-container {
    width: 100%;
}

.border-top {
    display: flex;
    align-items: center;
}



.section-4 {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: white;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.time-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; /* Ancho del contenedor centrado */
    margin: 0 auto; /* Centra el contenedor */
}

.time-column {
    flex: 1; /* Asegura que todas las columnas tengan el mismo tamaño */
    text-align: center; /* Centra el texto en cada columna */
    padding: 20px; /* Ajusta el padding según sea necesario */
}

.time-column img {
    width: 80%; 
    height: auto;
    filter: grayscale(80%) brightness(1000%);
}




/* Sección 5 */


.contenido-2 {
    position: relative; /* Posición relativa para que esté encima de la superposición */
    z-index: 3; /* Asegura que el texto esté por encima de la imagen y la superposición */
    text-align: center; /* Centra el texto dentro del contenedor */
    width: 50%; /* Establece el ancho al 50% */
    padding: 80px 0px; /* Agrega espaciado interno según sea necesario */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}


.section-6 {
    display: flex; /* Usar flexbox para la disposición en columna */
    flex-direction: column; /* Colocar las secciones en columna */
    justify-content: center; /* Centrar el contenido horizontalmente */
    background: linear-gradient(to bottom, #a0a0a0, #606060); /* Degradado de plomo claro a oscuro */
    padding: 50px 0; /* Espaciado vertical */
}

.section-img, .section-img2 {
    display: flex; /* Disposición en columnas */
    width: 70%; /* Limitar el ancho al 70% */
    margin: 0 auto; /* Centrar el contenedor en la página */
    position: relative; /* Para el posicionamiento de la imagen */
}

.col-descript {
    flex: 0 0 60%; /* Ocupa el 60% del ancho */
    display: flex; /* Usar flexbox en la columna de texto */
    flex-direction: column; /* Apilar los elementos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    position: relative; /* Para mantener el contexto del contenido */
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
}

.imagen-sobre-encima, .imagen-sobre-encima2 {
    flex: 0 0 40%; /* Ocupa el 40% del ancho */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: flex-start; /* Alinear la imagen hacia la izquierda */
    align-items: center; /* Centrar verticalmente */
    position: relative; /* Para el posicionamiento de la imagen */
    z-index: 0;
}

.imagen-sobre-encima img, .imagen-sobre-encima2 img {
    width: 120%; /* Asegura que la imagen sobresalga de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    position: relative; /* Mantiene la imagen en su flujo normal */
    left: -10%; /* Ajustar la posición para que se sobreponga a la columna */
}


.section-7 {
    position: relative; /* Para colocar la imagen de fondo */
    margin: 0 auto; /* Centrar la sección */
    overflow: hidden; /* Ocultar cualquier contenido que se desborde */
    max-width: 100%; /* Asegurar que la sección use todo el ancho */
    padding: 220px;
}

.background-valores {
    position: absolute; /* Para que la imagen de fondo cubra todo el contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que la imagen cubra todo el ancho */
    height: 100%; /* Asegura que la imagen cubra todo el alto del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    z-index: -1; /* Coloca la imagen detrás del contenido */
    filter: grayscale(100%) brightness(50%); /* Aplicar filtro de blanco y negro y oscurecer */
}

.col-descript {
    position: relative; /* Mantener el contexto del contenido */
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
    width: 50%; /* Establecer el ancho en 60% */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.border-top {
    display: flex; /* Usar flexbox para alinear el número y título */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px; /* Espacio entre el título y la descripción */
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr; /* Mantener el diseño en dos columnas */
    gap: 40px; /* Espacio entre columnas */
    align-items: start; /* Alinear los elementos al inicio */
}

.square {
    width: 20px;
    height: 20px;
    background-color: rgb(197, 110, 110);
}

.value-text h3 {
    margin: 0;
    font-size: 20px;
    color: #d4beb6;
}

.value-text p {
    margin: 5px 0;
    font-size: 16px;
    padding-right: 280px;
}
