.section-2 {
    padding: 40px 0; /* Espaciado vertical para la sección */
}

.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrando el contenedor */
    padding: 0 20px; /* Espaciado lateral */
}

.content-section {
    display: flex; /* Usando flexbox para el diseño en fila */
    justify-content: center; /* Centrando las columnas horizontalmente */
    align-items: center; /* Centrando las columnas verticalmente */
    gap: 20px; /* Espacio entre las columnas */
}



.image-column {
    flex: 1; /* Permitir que esta columna ocupe el espacio disponible */
}

.image-column img {
    max-width: 100%; /* Asegurando que la imagen no exceda el ancho de la columna */
    height: auto; /* Manteniendo la proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados para la imagen */
}




/*=======*/

.section-3 {
    display: flex; 
    align-items: center; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    border: 0.01px solid white; 
    box-sizing: border-box;
    margin: 0;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    padding: 30px; 
    box-sizing: border-box; 
}

.item-1-2 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item-3 {
    grid-column: 3;
    grid-row: 1;
}

.item-4 {
    grid-column: 1;
    grid-row: 2;
}

.item-5-6-8-9 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
}

.item-7 {
    grid-column: 1;
    grid-row: 3;
}

.grid-item img:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar el contenido */
    align-items: center; 
    justify-content: center; 
    height: auto; 
    margin: 0;
    position: relative; /* Para permitir posicionar elementos en relación a este contenedor */
}

.border-container {
    position: relative; 
    background-color: transparent; 
    margin: -2px 0 0 0;
    padding: 15px; 
    border-left: 4px solid #fa7582; /* Borde izquierdo más grueso */
    border-right: 4px solid #fa7582; /* Borde derecho más grueso */
    border-bottom: 4px solid #fa7582; /* Borde inferior más grueso */
}

.border-container::before {
    content: "";
    position: absolute;
    top: -2px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    width: 60%; /* Ajusta el ancho del corte */
    height: 10px; /* Altura del corte */
    background-color: transparent; /* Color de fondo */
    border-top: 4px solid #fa7582; /* Color del borde que se verá más grueso */
    z-index: 0; /* Debe estar detrás de otros elementos */
}

.number {
    position: absolute;
    top: -70px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: #fa7582; 
    padding: 5px 10px;
    font-size: 100px; 
    z-index: 1; /* Asegura que el número esté sobre otros elementos */
}

.title-box {
    text-align: center;
    position: relative; /* Permite posicionar el título en relación a este contenedor */
    z-index: 2; /* Asegura que el título esté encima del número */
}

.title {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro transparente */
    color: white; /* Color del texto del título */
    padding: 10px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Esquinas redondeadas para el título */
}

.description {
    margin-top: 10px; 
    color: white;
}

button {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #e74c3c; /* Borde */
    color: #e74c3c; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    font-family: 'Gelasio', serif; /* Fuente */
    font-style: italic; /* Estilo en cursiva */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave */
    margin-top: 20px; /* Espacio por encima del botón */
}

button:hover {
    background-color: #fa7582; /* Color al pasar el mouse */
    color: white; /* Color del texto al pasar el mouse */
}


.container {
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar el contenido */
    align-items: flex-end; /* Alinea todo al lado derecho */
    justify-content: center; 
    height: auto; 
    margin: 0;
    position: relative; /* Para permitir posicionar elementos en relación a este contenedor */
}

.border-container {
    position: relative; 
    background-color: transparent; 
    margin: -2px 0 0 0;
    padding: 15px; 
    border-left: 4px solid #fa7582; /* Borde izquierdo más grueso */
    border-right: 4px solid #fa7582; /* Borde derecho más grueso */
    border-bottom: 4px solid #fa7582; /* Borde inferior más grueso */
}

.border-container::before {
    content: "";
    position: absolute;
    top: -2px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    width: 60%; /* Ajusta el ancho del corte */
    height: 10px; /* Altura del corte */
    background-color: transparent; /* Color de fondo */
    border-top: 4px solid #fa7582; /* Color del borde que se verá más grueso */
    z-index: 0; /* Debe estar detrás de otros elementos */
}

.number {
    position: absolute;
    top: -120px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: #fa7582; 
    padding: 5px 10px;
    font-size: 160px; 
    z-index: 1; /* Asegura que el número esté sobre otros elementos */
}

.title-box {
    text-align: center;
    position: relative; /* Permite posicionar el título en relación a este contenedor */
    z-index: 2; 
    padding: 5px 10px;
}

.title {
    background-color: rgba(78, 74, 74, 0.7); /* Fondo negro transparente */
    color: white; /* Color del texto del título */
    padding: 10px; 
    border-radius: 5px; /* Esquinas redondeadas para el título */
}

.description {
    margin-top: 10px; 
    color: white;
}

button {
    background: linear-gradient(to right, #fa7582, #e74c3c); /* Degradado de rojo claro a fuerte */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    font-family: 'Gelasio', serif; /* Fuente */
    font-style: italic; /* Estilo en cursiva */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave */
    margin-top: 20px; /* Espacio por encima del botón */
}

button:hover {
    background:#fa7582; 
}


/*==========*/




.artistas-section {
    display: flex; /* Cambiado a flex para permitir centrar elementos */
    flex-direction: column;
    align-items: center; /* Centrar elementos en el eje horizontal */
    margin: 50px; 
}

.header {
    display: flex;
}



.title-box {
    text-align: left; /* Alinear el título a la izquierda */
}

.columns {
    display: flex; /* Usa flex para crear dos columnas */
    justify-content: center; /* Centrar las columnas horizontalmente */
    margin-top: 20px; /* Espacio entre el header y las columnas */
}

.column {
    width: 48%; /* Ancho de cada columna */
    text-align: left; /* Alinear texto a la izquierda dentro de las columnas */
}

button {
    margin-top: 10px; /* Espacio encima del botón */
    background-color: #fa7582; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave */
}

button:hover {
    background-color: #e74c3c; /* Color al pasar el mouse */
}






.container {
    display: flex; /* Usa flex para organizar las columnas */
    margin: 20px; 
    padding: 50px;
}

.content-section {
    display: flex;
    width: 100%;
}

.image-column {
    flex: 1; /* Toma el 50% del espacio */
    position: relative; /* Para posicionar la imagen */
    overflow: hidden; /* Ocultar la parte de la imagen que sobresale */
}

.main-image {
    width: 100%; /* Ancho completo */
    height: auto; /* Altura automática */
    transition: transform 0.5s ease; /* Transición suave al cambiar de imagen */
}

.text-column {
    flex: 1; /* Toma el 50% del espacio */
    display: flex;
    flex-direction: column; /* Coloca los elementos verticalmente */
}

.border-container {
    background-color: transparent; 
    padding: 15px; 
    border-left: 2px solid #fa7582; 
    border-right: 2px solid #fa7582; 
    border-bottom: 2px solid #fa7582; 
}

.content-columns {
    display: flex; /* Usa flex para dividir el contenido en dos columnas */
    margin-top: 20px; /* Espacio entre el título y las columnas */
}

.description-column {
    flex: 1; /* Toma el 50% del espacio */
    padding-right: 50px; /* Espacio entre columnas */
}

.images-column {
    flex: 1; /* Toma el 50% del espacio */
    display: grid; /* Usa grid para organizar imágenes */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px; /* Espacio entre imágenes */
}

.images-column img {
    width: 100%; /* Ancho completo de cada cuadrado */
    height: 100px; /* Altura fija para los cuadros de las imágenes */
    object-fit: cover; /* Mantener la proporción */
    cursor: pointer; /* Cambiar el cursor al pasar sobre la imagen */
    transition: transform 0.3s; /* Transición suave al hacer hover */
}

.images-column img:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse sobre la imagen */
}


/* 

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}



.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img:hover {
    transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.swiper-pagination {
    bottom: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.swiper-pagination-bullet {
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .swiper {
        height: 70vh;
    }
}


.section-2 {
    background-color: #000;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text-column {
    flex: 1;
    padding: 20px;
    border: 2px solid #ff6f61;
    color: white;
}

.number {
    font-size: 2rem;
    color: #ff6f61;
    text-align: center;
    margin-bottom: 10px;
}

.title-box .title {
    font-size: 2.5rem;
    color: #f1eaea;
    text-align: center;
}


.description {
    font-size: 1.1rem;
    color: #b8b5b5;
    text-align: justify;
    margin-top: 20px;
}

.image-column {
    flex: 1;
    overflow: hidden;
}

.image-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}


.image-column img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .content-section {
        flex-direction: column;
        gap: 20px;
    }

    .text-column,
    .image-column {
        flex: none;
        width: 100%;
    }

    .image-column img {
        height: 300px;
    }
}


.border-container {
    text-align: center;
    padding: 0 20px;
}

.artists-container {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding: 10px 0;
    justify-content: center;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    padding: 80px 0;
}

.artists-container::-webkit-scrollbar {
    display: none;
}

.artist-image {
    flex: 0 0 auto;
    height: 300px;
    width: 200px;
    position: relative;
    transform: translateY(calc(-50% + 20px));
    border-right: 2px solid #ccc;
}

.artist-image:nth-child(odd) {
    transform: translateY(-20px);
}

.artist-image:nth-child(even) {
    transform: translateY(20px);
}

.artist-image:last-child {
    border-right: none;
}

.artist-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.artist-image img:hover {
    filter: grayscale(0%);
    opacity: 0.7;
}

.b&w-image {
    filter: grayscale(100%);
}


.description {
    padding: 10px 80px;
} */