<nav class="custom-navbar">
    <div class="logo">
        <img src="https://via.placeholder.com/50" alt="Galería de Arte Boliviano">
        <h1>
          GALERÍA <br>
          <span>DE ARTE BOLIVIANO</span>
        </h1>
    </div>
    <div class="menu">
        <a href="/pages/inicio/index.html" class="nav-item">Inicio</a>
        <a href="/pages/galeria/index.html" class="nav-item">Galeria</a>
        <a href="/pages/obras/index.html" class="nav-item">Obras</a>
        <a href="/pages/artistas/index.html" class="nav-item">Artistas</a>
        <a href="/pages/nosotros/index.html" class="nav-item">Nosotros</a>
        <a href="/pages/contacto/index.html" class="nav-item">Contacto</a>
    </div>
    
    <div class="search">
        <button>🔍</button>
        <input type="text" placeholder="Buscar">
    </div>
</nav>
