/* Estilos generales de las secciones */
.secciones {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #5d6067, #383a3f);
    padding: 20px;
}

/* Contenedor general */
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Columnas de texto e imagen */
.text-column, .image-column, .image-column2, .text-colum2 {
    flex: 1;
    padding: 10px;
    text-align: start;
}

/* Ajuste de imágenes */
.image-column img, .image-column2 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}




/* RESPONSIVE: Cambio a una sola columna */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-column {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .artist-name {
        position: relative; 
        top: 0; 
        left: 0; 
        transform: none;
        margin: 0;
        text-align: center;
        font-size: 2.5rem;
        white-space: normal;
        padding: 10px 20px;
    }

    .artist-surname {
        text-align: center;
        padding-left: 0;
        font-size: 2rem;
    }

    .artist-description {
        text-align: center;
        max-width: 90%;
    }

    .boton-artista {
        justify-content: center;
        margin-right: 0;
        width: 100%;
        display: flex;
    }
}



.text-column {
    flex: 1; 
    padding: 20px; 
}


/* Contenedor de la imagen del artista con efecto hover */
.image-column {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; /* Para posicionar el overlay correctamente */
}

/* Contenedor de la imagen con efecto zoom */
.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Para mantener el zoom dentro del contenedor */
    position: relative; /* Para posicionar el overlay */
    border-radius: 10px; /* Mantener el radio de borde */
}

/* Estilos de la imagen */
.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Radio de borde */
    object-fit: cover;
    filter: grayscale(100%); /* Mantener el filtro de escala de grises */
    transition: transform 0.5s ease; /* Transición suave para el zoom */
}

/* Efecto de zoom al pasar el ratón */
.image-container:hover img {
    transform: scale(1.1); /* Zoom interno */
}

/* Overlay negro con nombre y apellido */
.artist-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Velo negro semi-transparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave */
    border-radius: 10px; /* Mismo radio que la imagen */
}

/* Mostrar overlay al pasar el ratón */
.image-container:hover .artist-overlay {
    opacity: 1;
}

/* Estilos para el nombre del artista en el overlay */
.artist-overlay .overlay-name {
    font-family: 'Gelasio', serif;
    font-style: italic;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos para el apellido del artista en el overlay */
.artist-overlay .overlay-surname {
    font-family: 'Gelasio', serif;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}


.secciones {
    display: flex; 
    justify-content: space-between; 
}

.container {
    display: flex;
    width: 100%; 
}

.image-column2 {
    flex: 2; 
    position: relative; 
    overflow: hidden; 
}

.image-column2 img {
    width: 100%; 
    height: 500px; 
    display: block; 
}

.text-colum2 {
    flex: 1; 
    padding: 50px; 
    color: white;
}

#destacado-art {
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    text-align: center; 
    color: white; 
    font-size: 20px; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.image-column2:hover #destacado-art {
    opacity: 1; 
}

.image-column2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, #ef204e, transparent); 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.image-column2:hover::before {
    opacity: 1; 
}


.galeria-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.obra-card {
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    background: linear-gradient(to bottom, #23262e 0%, #4b4e56 50%, #23262e 100%);
    width: 100%;
    height: auto;
}


.obra-card img {
    width: 100%;
    height: 250px; 
    padding: 14px;
    object-fit: cover;
    transition: transform 0.3s ease; 
    transform-origin: center;
}


.obra-card:hover img {
    transform: scale(1.2); 
}

.obra-info {
    padding: 15px;
    color: #fff;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Gelasio', serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.obra-info::-webkit-scrollbar {
    display: none;
}


.obra-card::after {
    content: "+";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    z-index: 2;
}

.obra-card::before {
    content: "";
    position: absolute;
    top: 14px; 
    left: 14px;
    right: 14px; 
    bottom: calc(100% - 250px - 14px); 
    background-color: rgba(21, 21, 21, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.obra-card .overlay-text {
    position: absolute;
    top: 125px; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
    text-align: center;
    width: 80%;
    font-family: 'Gelasio', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.obra-card:hover {
    border: 1px solid white;
}

.obra-card:hover::before,
.obra-card:hover .overlay-text {
    opacity: 1;
}

.secciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-bottom: 0;
}

.secciones h1 {
    margin-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    max-width: 1200px;
    color: white;
}


@media (max-width: 1200px) {
    .galeria-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .galeria-grid {
        grid-template-columns: 1fr;
    }
}






.info-box {
    border: 2px solid #fa7582;
    padding: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 40%; 
    position: relative;
    margin: 2rem 2rem;
    color: white;
  }

  .artist-name {
    position: absolute; 
    top: -5%; 
    left: 0%; 
    transform: translateX(-200%);
    margin: 0;
    z-index: 2;
    text-align: center;
    font-size: 3rem;
    white-space: nowrap;
    background-color: #5b5e65;
    padding: 0 30px;
    font-style: italic;
    margin: 0 500px;
    font-family: 'Gelasio', serif;
    font-style: italic;

}


  .artist-surname {
    font-weight: normal;
    margin: 0;
    font-size: 2rem;
    font-family: 'Gelasio', serif;
    font-style: italic;
    width: 100%;
    text-align: left;
    padding-left: 90px;
  }
  
  .artist-description {
    line-height: 1.6;
    margin-top: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'Gelasio', serif;
    flex: 1;
    overflow: hidden;
  }
  
  .custom-button {
    font-family: 'Gelasio', serif;
    font-style: italic;
    margin-left: 30px; 
  }

