.custom-footer {
  background-color: #1a1a1a;
  color: white;
  padding: 4rem 0 2rem 0;
}

/* Estilo para la línea divisoria superior */
.footer-top-border {
  height: 8px;
  background-color: #dc3545;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-section img {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.logo-section h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.section h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
}

.contact-links a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  transition: color 0.3s;
}

.contact-links a:hover {
  color: #dc3545;
}

/* Estilos específicos para los iconos */
.icon-container {
  width: 30px;
  height: 30px;
  background-color: #dc3545;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.contact-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.menu-links {
  list-style: none;
  padding: 0;
}

.menu-links li {
  margin-bottom: 0.8rem;
}

.menu-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-links a:hover {
  color: #dc3545;
}

.cta-section p {
  color: #cccccc;
  margin-bottom: 1.5rem;
}

.cta-button {
  display: inline-block;
  background-color: #dc3545;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #c82333;
  color: white;
}

.footer-quote {
  text-align: center;
  font-style: italic;
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid #333;
}

@media (max-width: 768px) {
  .section {
      margin-bottom: 2rem;
  }
  
  .logo-section {
      text-align: center;
  }
}