/* styles.css */

body {
  font-family: 'Gelasio', serif; /* Define Gelasio como la fuente principal */
  font-weight: 400; /* Peso regular */
}

/* Estilo para texto en italic */
em, .italic {
  font-family: 'Gelasio', serif;
  font-weight: 400; /* Peso regular para el texto en italic */
  font-style: italic; /* Aplica el estilo italic */
}

/* Estilo para encabezados (opcional) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gelasio', serif;
}

/* Estilo para texto en bold (opcional) */
strong, .bold {
  font-family: 'Gelasio', serif;
  font-weight: 700; /* Peso bold */
}
