/* styles.css */

body {
  font-family: 'Gelasio', serif; /* Define Gelasio como la fuente principal */
  font-weight: 400; /* Peso regular */
}

/* Estilo para texto en italic */
em, .italic {
  font-family: 'Gelasio', serif;
  font-weight: 400; /* Peso regular para el texto en italic */
  font-style: italic; /* Aplica el estilo italic */
}

/* Estilo para encabezados (opcional) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gelasio', serif;
}

/* Estilo para texto en bold (opcional) */
strong, .bold {
  font-family: 'Gelasio', serif;
  font-weight: 700; /* Peso bold */
}



.custom-button {
    background: linear-gradient(to bottom, #c62828, #ff5252); /* Degradado rojo oscuro a claro */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 25px; /* Esquinas redondeadas */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background 0.3s ease; /* Transición suave */
}

.custom-button:hover {
    background: #ff8a65; /* Color salmón al pasar el mouse */
}
